body {
    font-size: 1.2rem;

    .bottom {
        height: 214px;
        background-image: url('../images/agl_logo_1080.png');
        background-position: center center;
        background-repeat: no-repeat;
    }
}