body {
    font-size: 0.8rem;

    .bottom {
        height: 144px;
        background-image: url('../images/agl_logo_720.png');
        background-position: center center;
        background-repeat: no-repeat;
    }
}