@media (orientation: landscape) {

    html {
        background-image: url('../images/horizontal_background.png');
    }

    body {

        .top{
            width: $header_size;
            height: 100%;
            flex-direction: column;

            .appsContainer {
                flex-direction: column;
                .button {
                    border-width: 1px 0 1px 0;
                    order: 2;
                    display: flex;
                    align-items: center;
                    .label {
                        display: none;
                    }
                }
            }

            .infoContainer {
                border-width: 1px 0 1px 0;
                width: $header_size;
                height: 200px;
                order: 1;
            }

            .statusContainer {
                width: 100%;
                height: 60px;
                flex-direction: row;
                align-items: center;
                order: 0;

            }
        }

        .bottom {
            display: none;
        }

    }
}