::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 1.2rem;
    font-family: Arial;
    color: map-get($colors, font);
    margin: 0;

    a {
        color: map-get($colors, font);
        text-decoration: none;
    }

    .top {
        position: absolute;
        top: 0;
        width: 100%;
        height: $height;
        display: flex;
        justify-content: space-between;
        background-color: map-get($colors, background);

        .button {
            border-left: 1px solid map-get($colors, grey);
            border-right: 1px solid map-get($colors, grey);
            flex: 1 1 0px;
            text-align: center;
            background-color: map-get($colors, button);

            .icon {
                width: 100%;
                height: $height*0.70;
                line-height: $height*0.70;
                font-size: 90px;
            }

            .label {
                width: 100%;
                height: $height*0.30;
                line-height: $height*0.30;
            }
        }

        .infoContainer {
            border-left: 1px solid map-get($colors, grey);
            border-right: 1px solid map-get($colors, grey);
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            width: 200px;

            .day {
                text-align: left;
                width: 80%;
                margin: 0 10%;
            }

            .hour {
                font-size: 40px;
                border-bottom: 1px solid map-get($colors, grey);
                width: 80%;
                margin: 0 10% 10px 10%;
                padding: 10px 0;
            }

            .wheater {
                font-size: 30px;
                letter-spacing: 2px;
            }
        }

        .statusContainer {
            width: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            font-size: 42px;
            color: map-get($colors, grey);
        }
    }

    .bottom {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 214px;
        background-image: url('../images/agl_logo.png');
        background-position: center center;
        background-repeat: no-repeat;
    }

    .log {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1080px;
        background: white;
        font-size: 1.5rem;
    }
}