::-webkit-scrollbar {
    display: none;
}

html {
    height: 100%;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 1.2rem;
    font-family: Arial;
    color: map-get($colors, font);
    margin: 5%;

    .parent {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;

        .item {
            .icon {
                width: 100%;
                height: 100%;
            }

            .name {
                width: 100%;
                text-align: center;
                text-transform: uppercase;
                margin-top: -20%;
            }
        }
    }

    .log {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1080px;
        background: white;
        font-size: 1.5rem;
    }
}