::-webkit-scrollbar {
    display: none;
}

input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 13.8px 0;
    background: transparent;
    z-index: 1000;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8.4px;
      cursor: pointer;
      background: transparent;
}

input[type=range]::-webkit-slider-thumb {
      height: 32px;
      width: 32px;
      border-radius: 16px;
      background: #FFFFFF;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -14px;
      z-index: 0;
}

progress {
    -webkit-appearance: none;
    height: 8.4px;
    width: 100%;
    margin-top: -22px;
    position: absolute;
    z-index: -1000;
}

::-webkit-progress-bar {
    background: map-get($colors, grey);
}

::-webkit-progress-value {
    background-color: map-get($colors, primary);
}

html {
    height: 100%;
    background-size: cover;
    -webkit-overflow-scrolling: touch;
}

body {
    font-size: 1.2rem;
    font-family: Arial;
    color: map-get($colors, font);
    margin: 5%;

    a {
        color: map-get($colors, font);
    }

    .button {
        &[value="true"] {
            color: map-get($colors, primary);
            .disabled {
                display: none;
            }
            .enabled {
                display: block;
            }
        }
        &[value="false"] {
            color: map-get($colors, grey);
            .disabled {
                display: block;
            }
            .enabled {
                display: none;
            }
        }
    }

    .top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        margin-top: 10%;
        margin-bottom: 15%;

        .icon {
            flex-basis: 10%;
        }

        .fanSpeed {
            flex-basis: 85%;
            height: 100%;

            .fanSpeedContainer {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    }

    .center {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;

        .item {
            &:before {
                content:'';
                float:left;
                padding-top:75%;
            }

            &.ac, &.auto {
                .label {
                    font-size: 5rem;
                    text-align: center;
                    margin-top: -50%;
                }
            }

            &.seat {
                img {
                    width: 50%;
                    margin: 0 25%;
                }

                &[value="0"] {
                    .one, .two {
                        display: none;
                    }
                    .off {
                        display: block;
                    }
                }

                &[value="1"] {
                    .off, .two {
                        display: none;
                    }
                    .one {
                        display: block;
                    }
                }

                &[value="2"] {
                    .one, .off {
                        display: none;
                    }
                    .two {
                        display: block;
                    }
                }

            }

            &.circulation {

            }

            &.block {
                &:before {
                    padding-top:150%;
                }

                .item {
                    height: 50%;
                    position: relative;
                    float: left;
                    width: 100%;
                }
            }

            &.temperatures {
                .temperatures-container {
                    width: 100%;
                    height: 480px;
                    overflow-y: scroll;

                    .temperature {
                        &[enabled='true'] {
                            color: map-get($colors, primary);
                        }
                        &[enabled='false'] {
                            color: map-get($colors, grey);
                        }
                        font-size: 10rem;
                        text-align: center;
                        width: 100%;
                    }
                }
            }

            text-decoration: none;
            flex-basis: 33%;
        }
    }

    .bottom {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        height: 100%;
        margin-top: 10%;

        .button {
            flex-basis: 20%;

            img {
                width: 80%;
                margin: 0 10%;
            }
        }
    }

    .log {
        display: none;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 1080px;
        background: white;
        font-size: 1.5rem;
    }
}