body {
    svg {
        path,
        polygon,
        linearGradient,
        rect {
            fill: map-get($colors, primary) !important;
        }

        circle {
            fill: none !important;
        }

        text {
            display: none !important;
        }
    }
}